html::-webkit-scrollbar{
    display: none;
}

.container {
  padding: 50px 150px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagenes{
    position: relative;
    height: 10%;
}
.imagenPath {
  width: 100%;
  border-radius: 20px;

}
.imagenPoster{
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: -20%;
    left: 5%;
    border-radius: 20px;
}
.overview{
    padding-left: 25%;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-top: 20px;
}
.Container_info{
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;

}

.nameGenres{
    border: 1px solid gray;
    border-radius:20px;
    padding: 8px 16px;
    margin: 0 5px;
}
